html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image-container{
    display: flex;
    
}

.image-button{
    border-radius: 8px;
    width: 100px;
    height: 100px;
    background-color: grey;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
}

.form-group .pet-name{
    width: 40%;
}

.pet-container{
    display: flex;
}