@using Tomagochi.WEB.Components
@model Tomagochi.WEB.Models.Forms.PetFormModel

<h3>Create Pet</h3>

<form asp-controller="Pets" asp-action="Create" method="post">
    <div class="form-group">
        <h6>Name</h6>
        <input type="text" class="form-control pet-name"/>
    </div>
    <component type="typeof(PetCreate)" param-model="Model"  render-mode="ServerPrerendered"/>
   
    
</form>
